<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/blog detail.css' %}">
</head>
<body>
    <div class="image">
        <img src="{% static 'image/img19.png' %}" alt="" width="100%" height="50%">
    </div>
    <!-- card -->
     <br>
     <br>
     <br>
     <br>
     <br>

    <div class="card">
        <div class="image">
            <p style="text-align: center;"><img src="{% static 'image/img21.png' %}" alt=""></p>
        </div>
        <div class="text">
            <p style="text-align: justify; font-size: 30px; color: grey;"> Gochujang ugh viral, butcher pabst put a bird on it meditation austin craft beer banh. Distillery ramps af, goch ujang hell of VHS kitsch austin. Vegan air plant trust fund, poke sartorial ennui next lev el photo booth coloring book etsy green juice meditation austin craft beer. </p>
        </div>
    </div>


            <!-- Qoute -->
            <blockquote class="blockquote blockquote--bordered blockquote--quoted">
                <p class="blockquote__text" style="text-align: justify; font-size: 30px;">
                    “If the delivery provider maintains all the standards then it is safe to have get products delivered to you. It is hard to maintain but still safer to get your products ordered If you’ve been following the crypto space”
                </p>
                <p style="color: black;"><b>— Leslie Alexander</b></p>
                </blockquote>
    <div class="card">
        <div class="text">
            <b style="text-align: justify; font-size: 30px; color: black;"> How can have anything you ant in life if you ? </b>
            <p style="text-align: justify; font-size: 30px; color: grey;"> if you’ve been following the crypto space, you’ve likely heard of Non-Fungible Tokens (Biddings), more popularly referred to as ‘Crypto Collectibles.’ The world of Biddings is growing rapidly. It seems there is no slowing down of these assets as they continue to go up in price. This growth comes with the opportunity for people to start new businesses to create and capture value. The market is open for players in every kind of field. Are you a collector.
            </p>
        </div>
        <div class="image">
            <p style="text-align: center;"><img src="{% static 'image/img22.png' %}" alt=""></p>
        </div>
    </div>



</body>
</html>