<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAS</title>
    <link rel="stylesheet" href="{% static 'css/abcde.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>
<body bgcolor="black">
    <div class="card">
        <img src="{% static 'image/img17.png' %}" alt="" width="1517px" height="100%">
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        
      <div class="cards">        
        <div class="title">
            <h1 style="color: white;"><u>Search From Blog</u></h1>  
        </div>
        <div class="container">
            <div class="search_wrap search_wrap_1">
                <div class="search_box">
                    <input type="text" class="input" placeholder="Search...">
                    <div class="btn btn_common">
                        <img src="{% static 'image/img8.png' %}" alt="" width="135px">
                    </div>
                </div>
            </div>
        </div>
       </div>
        <br>
        <br>
        <br>
        <img src="{% static 'image/img18.png' %}" alt="" width="1000px">
        <br>
        <br>
        <br>
        <br>
        <div class="cards">
            <h1 style="color: white;"><u>Post Categories</u></h1>
            <ul>
                <h3><li style="color: white;"> Building</li>
                <li style="color: white;"> Frebies</li>
                <li style="color: white;"> Health</li>
                <li style="color: white;">Network setup </li>
                <li style="color: white;"> New technology </li>
                <li style="color: white;"> News </li></h3>
            </ul>
        </div>
        <br>
        <div class="cards1">
            <h1 style="color: white;"><u>Follow Social</u></h1>
            <div class="social-icon">
                <ul>
                    <li> <a href="https://www.facebook.com/"> <i class="fab fa-facebook"></i> </a> </li>
                    <li> <a href="https://www.twiter.com/"> <i class="fab fa-twitter"></i> </a> </li>
                    <li> <a href="https://www.instagram.com/"> <i class="fab fa-instagram"></i></i> </a> </li>
                    <li> <a href="https://www.pinterst.com/"> <i class="fab fa-pinterest"></i> </a> </li>
                </ul>
            </div>
        </div>
        <br>
        <br><br><br> <br><br><br>
        <div class="cards">        
            <div class="title">
                <h1 style="color: white;"><u>Search From Blog</u></h1>  
            </div>
            <div class="container">
                <div class="search_wrap search_wrap_1">
                    <div class="search_box">
                        <input type="text" class="input" placeholder="Search...">
                        <div class="btn btn_common">
                            <img src="{% static 'image/img8.png' %}" alt="" width="135px">
                        </div>
                    </div>
                </div>
            </div>
           </div>




    
</body>
</html>